* {
    margin: 0
    
    
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    
}


.h2{
    text-align: center;

}
.selector{
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button2{
    text-align: center;
    align-items: center;
    margin-top: 10px;
    justify-content: center;

}
.container{

    display: flex;
    flex-direction: column;
    align-items: center;
}
